@using MovieGallery.Models
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slimy IMDb</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Creepster" rel="stylesheet">
    <link href="~/Content/site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script type="text/javascript">
        var appInsights = window.appInsights ||
            function (a) {
                function b(a) {
                    c[a] = function () {
                        var b = arguments;
                        c.queue.push(function () { c[a].apply(c, b) })
                    }
                }

                var c = { config: a }, d = document, e = window;
                setTimeout(function () {
                    var b = d.createElement("script");
                    b.src =
                        a.url || "https://az416426.vo.msecnd.net/scripts/a/ai.0.js", d.getElementsByTagName("script")[0]
                            .parentNode.appendChild(b);
                });
                try {
                    c.cookie = d.cookie;
                } catch (a) {
                }
                c.queue = [];
                for (var f = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; f.length;)
                    b("track" + f.pop());
                if (b("setAuthenticatedUserContext"), b("clearAuthenticatedUserContext"), b("startTrackEvent"),
                    b("stopTrackEvent"), b("startTrackPage"), b("stopTrackPage"), b("flush"), !a
                        .disableExceptionTracking) {
                    f = "onerror", b("_" + f);
                    var g = e[f];
                    e[f] = function (a, b, d, e, h) {
                        var i = g && g(a, b, d, e, h);
                        return !0 !== i && c["_" + f](a, b, d, e, h), i
                    }
                }
                return c
            }({
                instrumentationKey: "93e0b4a7-ced6-4110-b8e8-1f56a6f4d2a4"
            });

        window.appInsights =
            appInsights, appInsights.queue && 0 === appInsights.queue.length && appInsights.trackPageView();
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            @*@Html.ActionLink("IMDB - Slim", "Index", "MovieGallery", new { area = "" }, new { @class = "navbar-brand" })*@

            <div class="logo-wrapper">
                <a href="@Url.Action("Index", "MovieGallery")" class="navbar-brand ">
                    <div class="logo-container"> <div class="site-green  slimy-logo"> Slimy Movies</div></div>
                </a>
            </div>

            <div class="flex-container">

                @using (Html.BeginForm("LookUpMovie", "MovieGallery", FormMethod.Post))
                {
                    <input class="glowing-border search-input flex-item" type="text" id="movieToFind" name="movieToFind" autofocus placeholder="Find Movies and Dvds..." />
                    <input class="btn-menu btn-default slimy-button flex-item" type="submit" id="submitId" value="Search" />
                    @Html.DropDownList("SearchType", new SelectList(Enum.GetValues(typeof(SearchTypeSelect.DropdownSelect))),"Search Type", new
                    {
                        @class = $"btn btn-default btn-menu flex-item"})
                    }
                    @Html.ActionLink("Upcoming Movie Releases", "ComingSoon", "MovieGallery", null, new { @class = $"btn btn-default btn-menu flex-item {ViewBag.comingSoon} " })
                    @Html.ActionLink("New On DVD/Blu-ray", "Index", "MovieGallery", null, new { @class = $"btn btn-default btn-menu flex-item {ViewBag.currentNews}" })
                    
                @*@using (Html.BeginForm("LookUpActor", "MovieGallery", FormMethod.Post))
                    {
                        <input class="glowing-border search-input flex-item" type="text" id="actorToFind" name="actorToFind" autofocus placeholder="Find Actors.." />
                        <input class="btn-menu btn-default slimy-button flex-item" type="submit" id="submitId" value="Search" />
                    }*@

            </div>

        </div>

    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Slimy Movies</p>
        </footer>
    </div>

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js" async></script>
    <script src="~/Scripts/jquery.fitvids.js"></script>

    <script>

    </script>
</body>
</html>