@model List<BookGallery.Models.BookGalleryItem>
@{

    //ViewBag.Title = Model.DisplayText;

}

@foreach (var comicBook in Model)
{

    <h2>@comicBook.DisplayText</h2>

    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <h5><label>Series Title:</label>@comicBook.SeriesTitle</h5>
                <h5><label>Issue #:</label> @comicBook.IssueNumber</h5>
                <h5><label>Favorite:</label>@(comicBook.Favorite ? " Yes" : " No")</h5>
                <h5>Artists:</h5>
                <div>
                    <ul>
                        @foreach (var artist in comicBook.Artists)
                        {
                            <li>@artist.Role: @artist.Name</li>
                        }
                    </ul>
                </div>
            </div>
            <h5>Description:</h5>
            <div>@Html.Raw(comicBook.DescriptionHtml)</div>
        </div>
        <div class="col-md-6">
            <img src="/Images/@comicBook.CoverImageFileName"
                 alt="@comicBook.DisplayText" class="img-responsive" />
        </div>
    </div>
}

