@using MovieGallery.Models;
@using MovieGallery.Models.ViewModels;

@model  SearchActorViewModel<ActorResultItem>
@{
    ViewBag.Title = "LookupActor";
    ViewBag.ShowBackBar = true;
    
    
}

<h2>Actor Results (Hits: @(Model.Actor.total_results))</h2>
<div class="row">
    <div class="col-md-12">

        @if (Model?.Actor.results != null)
        {
            foreach (var actor in Model.Actor.results)
            { /*<a href=@Url.Action("Detail", new {id = movie.id})>*/
                <div class="row row-space">
                    <div class="col-md-3">
                        @if (string.IsNullOrEmpty(actor.profile_path))
                        {
                            <img src="~/Images/noimage.jpg"
                                 alt="@actor.name" class="poster img-responsive" />
                        }
                        else
                        {
                            <img src="@($"http://image.tmdb.org/t/p/w185/{actor.profile_path}")"
                                 alt="@actor.name" class="poster img-responsive" />
                        }

                    </div>
                    <div class="col-md-9">
                        <div class="well">
                            <h3><label>Actor:&nbsp;</label>@actor.name</h3>
                            <h5><label>Popularity:&nbsp;</label>@actor.popularity</h5>

                            @if (Int32.TryParse(actor.ActorDetails?.birthday?.Replace("-", ""), out int dobb ) && actor.ActorDetails?.deathday != null)
                            {
                                Int32.TryParse(actor.ActorDetails.deathday.Replace("-", ""), out int dead);
                                int.Parse(DateTime.Now.ToString("yyyyMMdd"));
                                int age = (dead - dobb) / 10000;
                                <h5><label>Born:&nbsp;</label>@($"{actor.ActorDetails?.birthday}")</h5>
                                <h5><label>Dead:&nbsp;</label>@($"{age}")</h5>
                            }
                            //Alive
                            else if (Int32.TryParse(actor.ActorDetails?.birthday?.Replace("-", ""), out int dob))
                            {
                                int now = int.Parse(DateTime.Now.ToString("yyyyMMdd"));
                                int age = (now - dob) / 10000;
                                <h5><label>Age:&nbsp;</label>@($"{age} ({actor.ActorDetails?.birthday})")</h5>
                            }

                            <h5><label>Biography:&nbsp; </label>@($"{actor.ActorDetails?.biography}")</h5>

                        </div>
                        <h3>Most Known for...</h3>
                        @foreach (var movie in actor.known_for)
                        {
                            <h4><label><a class="slimy" href=@Url.Action("Detail", new {id = movie.id})>@($"{movie.title} {movie.release_date?.Substring(0,4)}")</a></label></h4>
                            <a class="slimy" href=@Url.Action("Detail", new {id = movie.id})>
                                <p>@movie.overview</p>

                            </a>
                            @:<hr>
                        }
                    </div>

                </div>
            }
        }

    </div>
</div>

