@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Books Details.";
}




<h1>@ViewBag.SeriesTitle</h1>
<h2>@ViewBag.IssueNumber</h2>

<h5>Description:</h5>
<div>
    @Html.Raw(@ViewBag.Description)
</div>



    <h5>Artists:</h5>
    <div>
        <ul>
        @foreach (var artist in ViewBag.Artists)
        {
            <li>@artist</li>
        }
        </ul>
    </div>


